<div class="card card-block">
    <div class="card-body">
        <div class="d-flex justify-content-xl-between">
            <div class="d-flex flex-column">
                <h5 class="card-title">{{ transaction.description }}</h5>
                <p class="card-text">{{ transaction.value | currency:'BRL' }}</p>
                <p class="card-text"> Tipo da transação: {{ transaction.transaction_type.name }}</p>
                <p class="card-text">{{ transaction.transaction_date | date:'d/M/y, h:mm a' }}</p>
                <div *ngIf="showDetails">
                    <p class="card-text"> ID da transação: {{ transaction.id }}</p>
                </div>
            </div>
            <div *ngIf="showButtons" class="d-flex align-items-center">
                <button class="btn btn-info" (click)="show(transaction.id)">
                    Detalhes
                </button>
                <div class="px-2">
                    <button class="btn btn-warning" (click)="edit(transaction.id)">
                        Editar
                    </button>
                </div>
                <button class="btn btn-danger" (click)="delete(transaction.id)">
                    Excluir
                </button>
            </div>
        </div>
    </div>
</div>