<a [routerLink]="['']">Back to Home</a>

<div class="row">
    <div class="col-4">
        <h2>Minhas categorias</h2>
    </div>
    <div class="col">
        <button class="btn btn-primary" (click)="navigateToNewCategory()">
            Nova categoria
        </button>
    </div>
</div>


<div *ngIf="loadingCategories">
    <app-spinner-loading></app-spinner-loading>
</div>

<div *ngIf="transactionCategories != [] && !loadingCategories">
    <app-transaction-categories-table [categories]="transactionCategories" [refresh]="getAllTransactionCategories"></app-transaction-categories-table>
</div>

<div *ngIf="transactionCategories == [] && !loadingCategories">
    <div class="row">
        <div class="col">
            <h3>Nenhuma categoria encontrada</h3>
        </div>
    </div>
</div>