<section class="text-center">
    <div class="card mx-4 mx-md-5 shadow-5-strong">
        <div class="card-body py-5 px-md-5">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="fw-bold mb-5">Cadastrar-se</h2>
                <form>
                    <div class="form-outline mb-4">
                        <input type="text" id="email" class="form-control" />
                        <label class="form-label" for="email">E-mail</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" />
                        <label class="form-label" for="password">Senha</label>
                    </div>
                    <button type="button" class="btn btn-primary btn-block mb-4" (click)="onSubmit()">
                        Entrar
                    </button>
                </form>
            </div>
        </div>
        </div>
    </div>
</section>