<section class="text-center">
    <div class="card mx-4 mx-md-5 shadow-5-strong">
        <div class="card-body py-5 px-md-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div *ngIf="currentStep == forgotPasswordSteps.EMAIL">
                        <h2 class="fw-bold mb-5">Esqueci minha senha</h2>
                        <form [formGroup]="emailForm">
                            <div class="form-outline mb-4">
                                <input type="text" id="email" formControlName="email" class="form-control" />
                                <label class="form-label" for="email">E-mail</label>
                            </div>
                            <button type="button" class="btn btn-primary btn-block mb-4" (click)="sendToken()">
                                Enviar
                            </button>
                        </form>
                    </div>

                    <div *ngIf="currentStep == forgotPasswordSteps.RESET_PASSWORD">
                        <h2 class="fw-bold mb-5">Nova senha</h2>
                        <form [formGroup]="tokenForm">
                            <div class="form-outline mb-4">
                                <input type="text" id="token" formControlName="token" class="form-control" />
                                <label class="form-label" for="token">Token</label>
                            </div>
                        </form>
                        <form [formGroup]="passwordForm">
                            <div class="form-outline mb-4">
                                <input type="password" id="password" formControlName="password" class="form-control" />
                                <label class="form-label" for="password">Senha</label>

                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation"
                                    class="form-control" />
                                <label class="form-label" for="passwordConfirmation">Confirmação de senha</label>
                            </div>
                            <button type="button" class="btn btn-primary btn-block mb-4" (click)="resetPassword()">
                                Redefinir senha
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>