@import '../../../styles/vars.scss';

.navbar {
    background-color: $primary;
    height: $navbar-height;
}

.navbar-title {
    color: $white;
    margin-left: 2rem;
}

.navbar-user {
    color: $white;
    margin-right: 2rem;
}

.sidebar {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-radius: $border-radius;
    border: 1px solid $table-border-color ;
    padding: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
}

.sidebar-item {
    border-radius: $border-radius;
    color: $primary;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-item-selected {
    border-radius: $border-radius;
    color: $white;
    background-color: $primary;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-item:hover .sidebar-item-selected:hover {
    background-color: $table-hover-bg;
}

.page-content {
    margin: 2rem;
    border-radius: $border-radius;
    border: 1px solid $table-border-color;
    height: 85%;
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}