<a [routerLink]="['/transactions']">Back to Transactions</a>

<h2>Nova transação</h2>

<form [formGroup]="transactionForm">
    <div class="mb-3">
        <label for="value" class="form-label">Valor:</label> 
        <input id="value" type="text" formControlName="value" class="form-control">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
        <input id="description" type="text" formControlName="description" class="form-control">
    </div>

    <div class="mb-3">
        <label for="paid_at" class="form-label">Data: </label>
        <input id="paid_at" type="date" formControlName="paid_at" class="form-control">
    </div>

    <div class="mb-3">
        <label for="category" class="form-table">Categoria:</label>
        <select id="category" formControlName="category" class="form-select">
            <option *ngFor="let category of categories" [ngValue]="category">
                {{ category.name }}
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="kind" class="form-label">Tipo:</label>
        <select id="kind" formControlName="kind" class="form-select">
            <option *ngFor="let kind of kinds" [ngValue]="kind">
                {{ kind.name }}
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Cadastrar</button>

</form>