<div class="d-flex justify-content-center">

    <button type="button" class="btn btn-primary" (click)="getAllTransactions()">Mostrar todas</button>
    <button type="button" class="btn btn-primary mx-2" (click)="filterTransactions({kind:'income'})">Mostrar
        entradas</button>
    <button type="button" class="btn btn-primary" (click)="filterTransactions({kind: 'outcome'})">Mostrar
        saidas</button>

</div>

<button class="btn btn-primary" (click)="navigateToNewTransaction()">
    Nova transação
</button>

<hr class="mt-8" />

<!-- Loading spinner -->
<div *ngIf="loadingTransactions">
    <app-spinner-loading></app-spinner-loading>
</div>

<div *ngIf="transactions != [] && !loadingTransactions">
    <app-transactions-table [transactions]="transactions" [refresh]="getAllTransactions"></app-transactions-table>
</div>

<!-- Empty transactions -->
<div *ngIf="transactions == [] && !loadingTransactions">
    <div class="row">
        <div class="col">
            <h3>Nenhuma transação encontrada</h3>
        </div>
    </div>
</div>